* {
    font-family: "Mulish", sans-serif !important;
}

html, body {
    width: 100%;
    height: 100%;
}

article {
    min-height: 100%;
    display: grid;
    grid-template-rows:  auto 1fr auto;
    grid-template-columns: 100%;
}

.shapka {
    background-color: #ffe4c4;
}
.shapka a {
    text-decoration: none;
    color:black;
}

/* Main on */

.card {
    --bs-card-border-width: none !important;
}

.spisokpodr {
    list-style-type: none !important;
}

.spisokpodr a {
    text-decoration: none !important;
    color: rgb(254, 43, 226) !important;
}











/* Main off */
